numpy
scipy
numpy
cython
pytest==5.3.5
scikit-learn==0.23.2
Pillow==7.0.0
joblib==0.12
requests
scikit-image
flask-restplus==0.13.0
flask_cors==3.0.8
pandas==1.0.5
werkzeug==0.16.1
flask-swagger==0.2.14
flask~=1.0.2
flask_basicauth
six
PythonTurtle==0.3.1
tornado
hdbscan